@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;300&display=swap");
 
body {
    margin: 0;
    padding: 0;
    background: #cacaca96;
    font-family: "K2D", sans-serif;
    background: linear-gradient( rgba(255, 255, 255, 0.555), rgba(255, 255, 255, 0.555)), url(./../images/background.png);

}